---
BasedOnStyle: Microsoft
Standard: Cpp11
TabWidth: '4'
UseTab: Never
ColumnLimit: '80'
PointerAlignment: Left
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlwaysBreakAfterReturnType: AllDefinitions
BreakBeforeTernaryOperators: false

...
